#file_input{
    display: none;
}

#selected-files{
    display: flex;
    flex-direction: column;
    max-height: 50vh;
    overflow: auto;
}

.filename-label{
    max-width: 90vw;
    background-color: #343a40;
    margin: 3px;
    padding: 5px;
    border-radius: 5px;
    color: white;
}